/* styles for my resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* section titles */
.sectionheader{
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #cc0000;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 73%;
  min-width: 300px;
}
/* job titles */
h3{
  font-size: 1.5em;
  font-weight: 600;
  display: inline;
}
/* organization worked for */
.organization{
  font-size: 1.25em;
  font-weight: 400;
}
/* dates worked at job */
d{
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
/* descriptions */
.description{
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}

#degrees{
  text-align: left;
  list-style-type: none;
  display: inline;
}

#do{
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.top{
  width: 60%;
  min-width: 300px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 600;
}
